defaults:
  - world_model@datasets.pusht_train.world_model: pyro
  - world_model@datasets.pusht_val.world_model: pyro
  - _self_ # Overrides from this file apply LAST

# Global Settings (Must be consistent across datasets for TSNE dimensions to match)
device: cuda
seed: 42
image_size: 224
patch_size: 16
frameskip: 5
cache_dir: null

# Define multiple dataset-model pairs to visualize
datasets:
  pusht_train:
    dataset:
      dataset_name: pusht_expert_train
      batch_size: 32
      num_workers: 16
      visual_split: 0.002
      n_steps: ${eval:'${..world_model.num_preds} + ${..world_model.history_size}'}
    world_model:
      model_name: null
      ckpt_path: null
  pusht_val:
    dataset:
      dataset_name: pusht_expert_val
      batch_size: 32
      num_workers: 16
      visual_split: 1.0
      n_steps: ${eval:'${..world_model.num_preds} + ${..world_model.history_size}'}
    world_model:
      model_name: null
      ckpt_path: null
