defaults:
  - _self_
  - world_model: pyro

# Global Settings (Must be consistent across datasets for TSNE dimensions to match)
device: cuda
seed: 42
image_size: 224
patch_size: 16
n_steps: ${eval:'${world_model.num_preds} + ${world_model.history_size}'}
frameskip: 5
cache_dir: null

# Define multiple dataset-model pairs to visualize
datasets:
  - dataset:
      dataset_name: pusht_expert_train
      batch_size: 32
      num_workers: 16
      visual_split: 0.002
    model:
      name: dinowm_pusht_fixed
      ckpt_path: "dinowm_pusht_weights.ckpt" # path relative to cache_dir

  - dataset:
      dataset_name: pusht_expert_val
      batch_size: 32
      num_workers: 16
      visual_split: 1.0
    model:
      name: dinowm_pusht_fixed
      ckpt_path: "dinowm_pusht_weights.ckpt"
